/// Colors

$color-primary: #050872;
$color-primary-light: #050872;
$color-primary-dark: #070335;

$color-secondary-light: #ad00ab;
$color-secondary-dark: #0f335c;

$color-tertiary-light: #760c63;
$color-tertiary-dark: #470b4b;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #070335;

$color-white: #fff;
$color-black: #000;

/// Fonts
$default-font-size: 1.6rem;

$font-family: "lato";
@font-face {
    font-family: $font-family;
    src: url(./../../assets/fonts/lato/Lato-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: $font-family;
    src: url(./../../assets/fonts/lato/Lato-Regular.ttf);
    font-weight:  400;
}
@font-face {
    font-family: $font-family;
    src: url(./../../assets/fonts/lato/Lato-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: $font-family;
    src: url(./../../assets/fonts/lato/Lato-Bold.ttf);
    font-weight: 700 ;
}
@font-face {
    font-family: $font-family;
    src: url(./../../assets/fonts/lato/Lato-Black.ttf);
    font-weight: 900;
}

/// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

$gutter-horizontal: 6rem;
